.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.product-container {
  height: 600px;
  width: 600px;
  /* background-color: grey; */
}

.payment-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}
